node_modules
npm-debug.log
.npm
.nyc_output
coverage
.env
.env.local
.env.production.local
.env.test.local
server.log
*.log
.git
.gitignore
README.md
.DS_Store
.vscode
.idea
api_test/
dockerfile
.dockerignore
dist/
build/